#pricing {
  padding-block-start: clamp(var(--gap-64), 6vw, var(--gap-192));
}

.pricing__options {
  grid-column: 1 / -1;
  justify-self: center;
  max-inline-size: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  column-gap: var(--gap-16);
  align-items: center;
  margin-block-end: var(--gap-64);
  position: relative;
  padding: var(--gap-12);
  border-radius: 50vw;

  & * {
    white-space: nowrap;
  }

  label {
    justify-self: center;
    color: var(--grey-500);
    font-size: clamp(var(--font-14), 3vw, var(--font-18));
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }

  [type='radio'] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  .yearly-discount {
    color: var(--warning-error);
  }
}

.yearly {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

.monthly {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  text-align: center;
}
.pricing__options:has(#yearly:checked) .option-selected {
  grid-column: 1;
}
.pricing__options:has(#monthly:checked) .option-selected {
  grid-column: 2;
}
.yearly,
.monthly {
  padding-inline: var(--gap-18);
  padding-block: var(--gap-12);
}

.option-selected {
  grid-column: 1;
  grid-row: 1;
  block-size: 100%;
  inline-size: 100%;
  background-color: hsl(255 100% 100% / 70%);
  border: hsl(255 100% 100% / 70%) 2px solid;
  border-radius: 50vw;
  box-shadow: inset 0 0 1rem 1rem hsl(from var(--grey-50) h s l / 30%), 0 15px 15px hsl(from var(--primary) h s l / 5%);
  z-index: 1;
}

.pricing__plan {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: var(--gap-16);
  padding-block: var(--gap-48);
  padding-inline: clamp(var(--gap-24), 5vw, var(--gap-48));
  position: relative;

  & h3 {
    color: var(--black);
    font-size: var(--font-28);
  }

  p {
    color: var(--grey-400);
    font-size: var(--font-16);
  }

  & [type='button'] {
    margin-block-start: var(--gap-20);
  }

  & hr {
    margin-block: var(--gap-18);
    border-top: 1px solid var(--grey-200);
  }

  & h4 {
    padding-block-end: var(--gap-8);
    color: var(--black);
  }
}

.plan-individuals {
  grid-column: 1 / 4 span;
}
.plan-company {
  --border-r: var(--border-corner-16);
  --rotation: 115deg;
  grid-column: 5 / 4 span;
  grid-template-columns: 1fr min-content;

  & > :not(.plan__price, .plan__workers-amount) {
    grid-column: 1 / -1;
  }
}
.plan-custom {
  grid-column: 9 / 4 span;
}
.plan-individuals,
.plan-custom {
  border-radius: var(--border-corner-16);
  border: 1px solid var(--surface);
}

.plan-manager {
  grid-column: 1 / -1;
  justify-self: center;
  max-inline-size: 768px;
  margin-block-start: var(--gap-96);
  background-image: linear-gradient(var(--grey-50), var(--grey-50)),
    linear-gradient(
      160deg,
      hsl(from var(--primary) h s l / 20%) 0%,
      hsl(from var(--surface) h s l / 100%) 35%,
      hsl(from #fff h s l / 100%) 75%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: var(--border, 1.5px) solid transparent;
  border-radius: var(--border-r, var(--border-corner-12));
  box-shadow: 0 30px 50px hsl(from var(--primary) h s l / 2%);

  & a {
    margin-block-start: var(--gap-16);
  }
}

.plan__price {
  min-block-size: var(--size-48);
  display: flex;
  align-items: center;
  column-gap: var(--gap-8);
  flex-wrap: nowrap;

  & .price {
    color: var(--black);
    font-size: var(--font-36);
    font-weight: bold;
    line-height: 0.8;
  }
}

.plan__features {
  display: grid;
  row-gap: var(--gap-8);

  & li:has(.icon) {
    display: flex;
    column-gap: var(--gap-8);
    align-items: center;

    & .icon {
      min-inline-size: var(--size-32);
      max-block-size: var(--size-32);
      aspect-ratio: 1;
      fill: var(--grey-500);
    }
  }

  & li:not(:has(.icon)):not(:last-of-type) {
    padding-block-end: var(--gap-8);
    line-height: 1.4;
  }
}

.plan__workers-amount {
  justify-self: left;
  block-size: var(--size-48);
  min-inline-size: var(--size-96);
  display: grid;
  position: relative;

  &::before {
    content: '';
    inline-size: 1px;
    block-size: 100%;
    position: absolute;
    background-color: var(--grey-300);
    top: 0;
    left: 50%;
    translate: -50% 0;
    pointer-events: none;
    z-index: 5;
  }

  & > * {
    grid-row: 1;
  }

  & .icon {
    position: absolute;
    inset-block: 0.725rem;
    inset-inline-start: var(--gap-12);
    inline-size: var(--size-24);
    aspect-ratio: 1;
  }

  & .icon:has([href*='workers']) {
    fill: var(--grey-300);
  }
}

#plan__select-workers {
  inline-size: 100%;
  padding-inline-start: var(--gap-48);
  border: 1px solid var(--grey-300);
  border-radius: var(--border-corner-8);
  background-color: transparent;
  font-size: var(--font-20);
  color: var(--grey-500);
  font-weight: bold;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#plan__select-workers:focus-within {
  outline: 1.5px solid var(--primary);
  outline-offset: 2px;
  border-radius: var(--border-corner-8);
}

@media screen and (max-width: 1400px) {
  .plan-company {
    & > * {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .plan-individuals {
    --border-r: var(--border-corner-16);
    --rotation: 115deg;
    grid-column: 1 / -1;
  }
  .plan-company {
    --border-r: var(--border-corner-16);
    --rotation: 115deg;
    grid-column: 1 / -1;
  }
  .plan-custom {
    grid-column: 1 / -1;
  }
}
