#pricing {
  padding-block-start: clamp(var(--gap-64), 6vw, var(--gap-192));
}

.pricing__options {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  column-gap: var(--gap-16);
  align-items: center;
  margin-block-end: var(--gap-64);
  position: relative;
  padding: var(--gap-12);
  border-radius: 50vw;

  & * {
    white-space: nowrap;
  }

  label {
    justify-self: center;
    color: var(--grey-500);
    font-size: clamp(var(--font-14), 3vw, var(--font-18));
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }

  [type='radio'] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  .yearly-discount {
    color: var(--warning-error);
  }
}

.yearly {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

.monthly {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  text-align: center;
}
.pricing__options:has(#yearly:checked) .option-selected {
  grid-column: 1;
  /* width: calc(60% - 12px); */
}
.pricing__options:has(#monthly:checked) .option-selected {
  grid-column: 2;
  /* width: calc(40% - 12px);
  translate: 140% 0; */
}
.yearly,
.monthly {
  padding-inline: var(--gap-18);
  padding-block: var(--gap-12);
}

.option-selected {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
  background-color: hsl(255 100% 100% / 70%);
  border: hsl(255 100% 100% / 70%) 2px solid;
  /* border: red 2px solid; */
  border-radius: 50vw;
  box-shadow: inset 0 0 1rem 1rem hsl(from var(--grey-50) h s l / 30%), 0 15px 15px hsl(from var(--primary) h s l / 5%);
  /* transition: all 0.2s linear; */
  /* position: absolute; */
  /* backdrop-filter: blur(50px); */
  z-index: 1;
}

.pricing__plan {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: var(--gap-16);
  padding-block: var(--gap-48);
  padding-inline: var(--gap-48);
  position: relative;

  & h3 {
    color: var(--black);
    font-size: var(--font-28);
  }

  p {
    color: var(--grey-400);
    font-size: var(--font-16);
  }

  & [type='button'] {
    margin-block-start: var(--gap-20);
  }

  & .plan__divider {
    height: 1px;
    width: 100%;
    background-color: var(--grey-200);
    margin-block: var(--gap-18);
  }

  & h4 {
    padding-block-end: var(--gap-8);
    color: var(--black);
  }
}

.plan-individuals {
  grid-column: 1 / 4 span;
}
.plan-company {
  --border-r: var(--border-corner-16);
  --rotation: 115deg;
  grid-column: 5 / 4 span;
  grid-template-columns: 1fr min-content;

  & > :not(.plan__price, .plan__workers-amount) {
    grid-column: 1 / -1;
  }
}
.plan-custom {
  grid-column: 9 / 4 span;
}
.plan-individuals,
.plan-custom {
  border-radius: var(--border-corner-16);
  border: 1px solid var(--surface);
}

.plan-manager {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 768px;
  margin-block-start: var(--gap-96);
  background-image: linear-gradient(var(--grey-50), var(--grey-50)),
    linear-gradient(
      160deg,
      hsl(from var(--primary) h s l / 20%) 0%,
      hsl(from var(--surface) h s l / 100%) 35%,
      hsl(from #fff h s l / 100%) 75%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: var(--border, 1.5px) solid transparent;
  border-radius: var(--border-r, var(--border-corner-12));
  box-shadow: 0 30px 50px hsl(from var(--primary) h s l / 2%);
}

.plan__price {
  min-height: var(--size-48);
  display: flex;
  align-items: center;
  column-gap: var(--gap-8);
  flex-wrap: nowrap;

  & .price {
    color: var(--black);
    font-size: var(--font-36);
    font-weight: bold;
    line-height: 0.8;
  }
}

.plan__features {
  display: grid;
  row-gap: var(--gap-8);

  & li {
    display: flex;
    column-gap: var(--gap-8);
    align-items: center;
    color: var(--black);

    & .icon {
      flex: 0 1 var(--size-32);
      min-width: var(--size-32);
      aspect-ratio: 1;
      fill: var(--grey-500);
    }
  }
}
.plan__workers-amount {
  justify-self: left;
  height: var(--size-48);
  min-width: var(--size-96);
  display: grid;
  /* margin-block: var(--gap-8) var(--gap-20); */
  /* grid-template-columns: var(--gap-8) var(--size-24) 1fr var(--gap-8);
  column-gap: var(--gap-8);
  align-items: center;
  margin-block-end: var(--gap-20); */
  position: relative;

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: var(--grey-300);
    top: 0;
    left: 50%;
    translate: -50% 0;
    pointer-events: none;
    z-index: 5;
  }

  & > * {
    grid-row: 1;
  }

  & .icon {
    position: absolute;
    inset-block: 0.725rem;
    inset-inline-start: var(--gap-12);
    width: var(--size-24);
    aspect-ratio: 1;
  }

  & .icon:has([href*='workers']) {
    /* grid-column: 2; */
    fill: var(--grey-300);
    /* inset-inline: auto calc(var(--gap-18) + var(--size-24) + var(--gap-8)); */
  }
}

#plan__select-workers {
  width: 100%;
  padding-inline-start: var(--gap-48);
  border: 1px solid var(--grey-300);
  border-radius: var(--border-corner-8);
  background-color: transparent;
  font-size: var(--font-20);
  color: var(--grey-500);
  font-weight: bold;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#plan__select-workers:focus-within {
  outline: 1.5px solid var(--primary);
  outline-offset: 2px;
  border-radius: var(--border-corner-8);
}

@media screen and (max-width: 1400px) {
  .plan-company {
    & > * {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .plan-individuals {
    --border-r: var(--border-corner-16);
    --rotation: 115deg;
    grid-column: 1 / -1;
  }
  .plan-company {
    --border-r: var(--border-corner-16);
    --rotation: 115deg;
    grid-column: 1 / -1;
    /* & > :not(.plan__price, .plan__workers-amount) {
      grid-column: 1 / -1;
    } */
  }
  .plan-custom {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 640px) {
  .plan-company {
    grid-column: 1 / -1;
  }
}
