body > header {
  padding-block: var(--gap-18);
}

.header {
  container-type: inline-size;
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  grid-template-areas: '. left-side center right-side .';
  align-items: center;
  column-gap: var(--gap-20);
  position: sticky;
  inset-block-start: 0;
  background-color: hsl(from var(--white) h s l / 90%);
  backdrop-filter: blur(5px);
  z-index: 99;
}

.header__left-side {
  grid-area: left-side;
}

.header__center {
  grid-area: center;
}

.header__right-side {
  grid-area: right-side;
}

@media screen and (max-width: 1366px) {
  .header__rs-href {
    justify-content: center;
    width: var(--size-48);
    aspect-ratio: 1;
    border-radius: 50%;

    &:nth-of-type(1) {
      background-color: var(--primary);
    }
    &:nth-of-type(2) {
      /* display: none; */
      border: 1.5px solid var(--grey-200);
    }

    & span {
      display: none;
    }

    .icon {
      display: block;
    }
  }
}
@media screen and (max-width: 1200px) {
  .landing {
    column-gap: var(--gap-20);
  }

  .grid {
    --colums: 3;
    --colums-width: 1fr;
    column-gap: var(--gap-16);
  }
  .bg__lines path {
    animation: none;
  }

  .header__menu {
    display: grid;
    position: fixed;
    z-index: 102;
  }

  /* Eneble Language Select on mobile menu */
  .nav__mob-header {
    display: flex;
  }
  .nav__mob-header .header__select-lang {
    display: grid;
  }
  .nav__mob-header .header__rs-href {
    display: grid;
  }

  .header__nav {
    grid-column: 1 / -1;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    min-height: 100dvh;
    /* min-width: 100vw; */
    position: fixed;
    inset: 0;
    background-color: hsl(from var(--white) h s l / 100%);
    z-index: 101;

    &.open {
      display: grid;
    }
  }

  /* .header__nav.open + ul #settings-button {
    position: fixed;
    z-index: 102;
  }
  .header__nav.open + ul .header__select-lang {
    position: fixed;
    z-index: 102;
  } */

  .header__logo {
    padding-inline-start: calc(var(--size-48) + var(--gap-16));
  }

  .nav__links {
    flex-direction: column;

    & a {
      font-size: var(--font-32);
    }

    @media screen and (hover: none) {
      & a:hover {
        text-underline-offset: 2px;
        text-decoration: underline transparent;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .header__rs-href {
    &:nth-of-type(2) {
      display: none;
    }
  }
  /* Disable Language Select on smaller screens */
  .header__select-lang {
    display: none;
  }
}
