@import url('../components/marketplace-card.css');

:where(.worker, .material, .job) {
  padding: var(--gap-24);
  background-color: var(--surface);
  border: 1px solid var(--grey-200);
  border-radius: var(--border-corner-16);
}

.mp-card__header-name-logo {
  border-radius: var(--border-corner-8);
}

.mp-card__description {
  flex: 1 0 auto;
  display: grid;
  grid-auto-rows: 1fr min-content;
  row-gap: var(--gap-12);
}

.mp-card__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card:where(.worker, .job) .mp-card__text {
  line-clamp: 8;
  -webkit-line-clamp: 8;

  &.mp-card__text-clamp {
    line-clamp: 6;
    -webkit-line-clamp: 6;
  }
}

.card.material .mp-card__text {
  line-clamp: 6;
  -webkit-line-clamp: 6;
}

.mp-card__footer {
  max-height: 100%;
  height: 82px;
  display: flex;
  column-gap: var(--gap-16);
  justify-content: space-between;
  padding-block-start: var(--gap-16);
  border-top: 1px solid var(--grey-200);
  align-items: center;

  & * {
    text-align: right;
    font-weight: bold;
  }

  & .mp-card__label {
    color: var(--grey-300);
    font-size: var(--font-14);
  }

  & .mp-card__amount {
    color: var(--black);
    font-size: var(--font-36);
  }

  & .ukko-logo {
    height: var(--size-28);
    border-radius: var(--border-corner-8);
  }

  & :where(.ukko-link, .mp-card__price) {
    height: min-content;
    display: grid;
    row-gap: var(--gap-4);
  }
}
