/* Text links */
.href {
  position: relative;
  color: var(--primary);
  text-decoration: underline var(--primary);
  font-weight: bold;
  text-underline-offset: 2px;
  transition: all 0.3s ease-in-out;
}

.href:hover {
  text-decoration: underline transparent;
  text-underline-offset: 5px;
}

.href-with-icon {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: var(--gap-8);
  padding: var(--gap-8) var(--gap-16);
  background-color: var(--surface);
  border: 1px solid var(--grey-500);
  border-radius: var(--border-corner-6);
  color: var(--grey-500);
  font-size: var(--font-16);
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  & .icon {
    width: var(--size-28);
    aspect-ratio: 1;
    fill: var(--grey-500);
  }
}
