/* Text links */
.href {
  position: relative;
  text-underline-offset: 2px;
  transition: all 0.2s ease-in-out;
}

.href:hover {
  text-underline-offset: 5px;
}

.href-blue {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline var(--primary);
}
.href-blue:hover {
  text-decoration: underline transparent;
}

.href-grey {
  color: var(--grey-500);
  text-decoration: underline transparent;
}

.href-grey:hover {
  text-decoration: underline var(--grey-500);
}
.href-grey.active {
  font-weight: bold;
  text-decoration: underline var(--grey-500);
}

.href-black {
  color: var(--black);
  text-decoration: underline transparent;
}
.href-black:hover {
  text-decoration: underline var(--black);
}

/* Only for marketplace links */
[href*='marketplace'].href-grey:hover {
  text-decoration: underline var(--primary);
}

.href-with-icon {
  inline-size: fit-content;
  display: flex;
  align-items: center;
  column-gap: var(--gap-8);
  padding: var(--gap-8) var(--gap-16);
  background-color: var(--surface);
  border: 1px solid var(--grey-500);
  border-radius: var(--border-corner-6);
  color: var(--grey-500);
  font-size: var(--font-16);
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  & .icon {
    inline-size: var(--size-28);
    aspect-ratio: 1;
    fill: var(--grey-500);
  }
}
