@import url('../header/header.css');

.contact-cards {
  grid-column: 1 / -1;
  justify-content: center;
  container: cards / inline-size;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-36);
}

.contact-card {
  inline-size: min(624px, 100%);
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: var(--gap-36);
  row-gap: var(--gap-12);
  padding: var(--gap-36);
}

.contact-card:has(.card__info) {
  grid-template-rows: var(--size-56) auto auto 1fr;
  grid-template-areas:
    'qrcode title'
    'qrcode desc'
    'qrcode info'
    'qrcode btn';
}
.contact-card:not(:has(.card__info)) {
  grid-template-rows: var(--size-56) auto 1fr;
  grid-template-areas:
    'qrcode title'
    'qrcode desc'
    'qrcode btn';
}

.contact-card:has([href*='//wa.me/']) .card__qr-code
{
  background-color: var(--whatsapp-dark-green);
}
.contact-card:not(:has([href*='//wa.me/'])) .card__qr-code
{
  background-color: var(--black);
}

.card__qr-code {
  grid-area: qrcode;
  justify-self: center;
  object-fit: contain;
  padding-block-start: var(--gap-8);
  padding-inline: var(--gap-8);
  border-radius: var(--border-corner-18);

  & img {
    background-color: var(--white);
    padding: var(--gap-8);
    border-radius: var(--border-corner-14);
  }

  & figcaption {
    padding-block: var(--gap-8) var(--gap-12);
    text-align: center;
    text-transform: capitalize;
    font-size: var(--font-24);
    font-weight: bold;
    color: var(--white);
  }
}

.card__title {
  grid-area: title;
  align-self: center;
  font-size: var(--font-24);
}

.card__desc {
  grid-area: desc;
  font-size: var(--font-16);
}

.card__info {
  grid-area: info;
  display: flex;
  align-items: center;
  gap: var(--gap-8);

  & .icon {
    flex: 0 0 var(--size-18);
    inline-size: var(--size-18);
    aspect-ratio: 1;
    fill: var(--grey-500);
  }
}

.contact-card a {
  grid-area: btn;
  align-self: flex-end;
  min-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .contact-card {
    grid-template-columns: 1fr;
  }

  .contact-card:has(.card__info) {
    grid-template-rows: auto var(--size-56) auto auto var(--size-64);
    grid-template-areas:
      'qrcode'
      'title'
      'desc'
      'info'
      'btn';
  }
  .contact-card:not(:has(.card__info)) {
    grid-template-rows: auto var(--size-56) auto var(--size-64);
    grid-template-areas:
      'qrcode'
      'title'
      'desc'
      'btn';
  }
}
