@import url('../header/header.css');

/* .support__pic {
  grid-column: 2 / 6;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.support__form {
  container: form / inline-size;
  grid-column: 6 / 12;

  & > p {
    padding-block: var(--gap-12) var(--gap-32);
  }

  & p {
    & span {
      color: var(--warning-error);
    }
  }
}

@container main (max-width: 1200px) {
  .support__pic {
    display: none;
  }
  .support__form {
    grid-column: 1 / -1;
  }
}

.form__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-32);
  padding-block-end: var(--gap-18);
}

@container form (max-width: 640px) {
  .form__fieldset {
    grid-template-columns: 1fr;
  }
}

.form__group {
  display: grid;
  row-gap: var(--gap-8);
  position: relative;
  padding-block-end: var(--gap-12);

  & label {
    width: fit-content;
    font-size: var(--font-14);
    font-weight: bold;
  }

  &:has([required]) label {
    position: relative;
    &::after {
      content: '*';
      position: absolute;
      font-size: var(--font-14);
      inset-inline-end: -0.6rem;
      color: var(--warning-error);
    }
  }
  &:has([required]:valid) label {
    &::after {
      color: var(--whatsapp-dark-green);
    }
  }
  &:has([required]:invalid) input {
    &::after {
      color: var(--whatsapp-dark-green);
    }
  }

  & :where(textarea, input) {
    padding: var(--gap-12);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--grey-300);
    color: var(--black);
    font-size: var(--font-20);
  }

  & .icon {
    inline-size: var(--size-24);
    aspect-ratio: 1;
    position: absolute;
    inset-inline: auto var(--gap-6);
    inset-block: 0.725rem;
    fill: var(--grey-500);
  }

  & input {
    inline-size: 100%;
  }

  & textarea {
    resize: vertical;
  }

  & ::placeholder {
    color: var(--grey-200);
    font-size: var(--font-20);
  }
}

[type='submit'] {
  min-inline-size: 280px;
  margin-inline: auto;
}

.form__footer {
  container-type: inline-size;
  display: grid;
  padding: var(--gap-24) var(--gap-18);
  transition: grid-template-rows 0.2s linear;

  &:has(.error-message) {
    grid-template-rows: 0fr min-content;
  }

  &:has(.error-message.show) {
    grid-template-rows: 1fr min-content;
  }

  &:has(.error-message.show) .styled-box__footer-box {
    padding-block-start: var(--gap-24);
  }
} */

.contact-cards {
  grid-column: 1 / -1;
  justify-content: center;
  container: cards / inline-size;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-36);
}

.contact-card {
  inline-size: min(624px, 100%);
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: var(--gap-36);
  row-gap: var(--gap-12);
  padding: var(--gap-36);
}

.contact-card:has(.card__info) {
  grid-template-rows: var(--size-56) auto auto 1fr;
  grid-template-areas:
    'qrcode title'
    'qrcode desc'
    'qrcode info'
    'qrcode btn';
}
.contact-card:not(:has(.card__info)) {
  grid-template-rows: var(--size-56) auto 1fr;
  grid-template-areas:
    'qrcode title'
    'qrcode desc'
    'qrcode btn';
}

.contact-card:has([href*='//wa.me/']) .card__qr-code
{
  background-color: var(--whatsapp-dark-green);
}
.contact-card:not(:has([href*='//wa.me/'])) .card__qr-code
{
  background-color: var(--black);
}

.card__qr-code {
  grid-area: qrcode;
  justify-self: center;
  object-fit: contain;
  padding-block-start: var(--gap-8);
  padding-inline: var(--gap-8);
  border-radius: var(--border-corner-18);

  & img {
    background-color: var(--white);
    padding: var(--gap-8);
    border-radius: var(--border-corner-14);
  }

  & figcaption {
    padding-block: var(--gap-8) var(--gap-12);
    text-align: center;
    text-transform: capitalize;
    font-size: var(--font-24);
    font-weight: bold;
    color: var(--white);
  }
}

.card__title {
  grid-area: title;
  align-self: center;
  font-size: var(--font-24);
}

.card__desc {
  grid-area: desc;
  font-size: var(--font-16);
}

.card__info {
  grid-area: info;
  display: flex;
  align-items: center;
  gap: var(--gap-8);

  & .icon {
    flex: 0 0 var(--size-18);
    inline-size: var(--size-18);
    aspect-ratio: 1;
    fill: var(--grey-500);
  }
}

.contact-card a {
  grid-area: btn;
  align-self: flex-end;
  min-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .contact-card {
    grid-template-columns: 1fr;
  }

  .contact-card:has(.card__info) {
    grid-template-rows: auto var(--size-56) auto auto var(--size-64);
    grid-template-areas:
      'qrcode'
      'title'
      'desc'
      'info'
      'btn';
  }
  .contact-card:not(:has(.card__info)) {
    grid-template-rows: auto var(--size-56) auto var(--size-64);
    grid-template-areas:
      'qrcode'
      'title'
      'desc'
      'btn';
  }
}
