.styled-box {
  container-type: inline-size;
  border-radius: var(--border-corner-8);
  border: 1px solid var(--grey-200);

  & > p {
    padding-block: var(--gap-12) var(--gap-32);
  }

  & p {
    & span {
      color: var(--warning-error);
    }
  }
}

/* for delete account*/
.styled-box.delete-account {
  padding-inline-end: var(--gap-24);
  padding-block-end: var(--gap-24);
  margin-block: var(--gap-32) var(--gap-56);
  border-color: hsl(from var(--warning-error) h s l / 50%);

  & > button {
    margin-inline: auto 0;
  }
}

.styled-box__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-32);
  padding-block-end: var(--gap-18);
}

@container (max-width: 480px) {
  .styled-box__group {
    grid-template-columns: 1fr;
  }
}

.styled-box__fieldset {
  display: grid;
  row-gap: var(--gap-8);
  position: relative;
  padding-block-end: var(--gap-12);

  & legend {
    color: var(--grey-300);
    font-size: var(--font-14);
    font-weight: bold;
    & span {
      color: var(--warning-error);
    }
  }

  & :where(select, input) {
    padding-block: var(--gap-12);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--grey-300);
    color: var(--black);
    font-size: var(--font-20);
  }

  & select {
    padding-inline: var(--gap-12) var(--gap-48);
  }

  & .icon {
    width: var(--size-24);
    aspect-ratio: 1;
    position: absolute;
    inset-inline: auto var(--gap-6);
    inset-block: 0.725rem;
    fill: var(--grey-500);
  }

  & input {
    width: 100%;
    padding-inline: var(--gap-12);
  }

  & input::placeholder {
    color: var(--grey-200);
    font-size: var(--font-20);
  }
}

.styled-box__verified {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & span {
    padding: var(--gap-12) var(--gap-24);
    border-radius: 2rem;
    border: 1.5px solid var(--whatsapp-dark-green);
    color: var(--whatsapp-dark-green);
    font-weight: bold;
    font-size: var(--font-14);
  }
}

.styled-box__footer {
  container-type: inline-size;
  display: grid;
  padding: var(--gap-24) var(--gap-18);
  border-radius: 0 0 var(--border-corner-8) var(--border-corner-8);
  background-color: var(--grey-100);
  transition: grid-template-rows 0.2s linear;

  &:has(.error-message) {
    grid-template-rows: 0fr min-content;
  }

  &:has(.error-message.show) {
    grid-template-rows: 1fr min-content;
  }

  &:has(.error-message.show) .styled-box__footer-box {
    padding-block-start: var(--gap-24);
  }
}

.styled-box__footer-box {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: var(--gap-18);
  align-items: center;
  transition: padding-block-start 0.2s ease-in-out;

  & button[type='submit'] .icon {
    fill: var(--grey-50);
  }

  & button:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  & button:disabled .icon__save,
  & .icon__updating {
    display: none;
  }

  & button:disabled .icon__updating {
    display: block;
  }

  & .icon__updating {
    transform-origin: center;
    animation: updating 1s linear infinite;
  }
}

@keyframes updating {
  100% {
    rotate: 360deg;
  }
}
