.settings__of-rules {
	container-type: inline-size;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: var(--gap-12);
	padding-inline: var(--gap-18);
	padding-block: var(--gap-24) var(--gap-36);
	border-bottom: 1px solid var(--grey-200);

	& > :where(h3, p) {
		grid-column: 1;
		width: 70cqw;
	}

	& > h3 {
		color: var(--grey-400);
		font-size: var(--font-20);
	}

	& > p {
		color: var(--grey-500);
		font-size: var(--font-16);
	}

	& > p:last-of-type {
		padding-block-end: var(--gap-12);
	}

	& .href-of-rules {
		grid-column: 2;
		grid-row: 1 / 2 span;
		align-self: center;
		width: fit-content;
		display: flex;
		align-items: center;
		column-gap: var(--gap-8);
		padding: var(--gap-8) var(--gap-16);
		background-color: var(--surface);
		border: 1px solid var(--grey-200);
		border-radius: var(--border-corner-6);
		color: var(--grey-500);
		font-size: var(--font-16);
		font-weight: bold;
		text-decoration: none;
		white-space: nowrap;

		& .icon {
			width: var(--size-24);
			height: var(--size-24);
			aspect-ratio: 1;
			fill: var(--grey-500);
		}
	}
}

@container (max-width: 480px) {
	.settings__of-rules {
		grid-template-columns: 1fr;

		& > :is(h3, p) {
			grid-column: 1;
			width: 100cqw;
		}

		& .href-of-rules {
			grid-column: 1;
			grid-row: 3;
			justify-self: flex-end;
		}
	}
}
