body > footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: var(--gap-20);
  margin-inline: auto;
  padding-block: var(--gap-48) var(--gap-18);
  font-size: var(--font-16);

  & > * {
    grid-column: 2;
  }
}

.landing__footer {
  inline-size: 100%;
  display: grid;
  padding-block: var(--gap-48) var(--gap-18);

  & h3 {
    padding-block-end: var(--gap-8);
    color: var(--grey-400);
    font-size: var(--font-20);
  }

  & :where(p, a) {
    font-size: var(--font-16);
  }
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: var(--gap-24);
  row-gap: var(--gap-36);
  padding-block: var(--gap-48);
  border-block: 1px solid var(--grey-200);
}

.footer__rows {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap-10);
}
.footer__cols {
  display: grid;
  gap: var(--gap-24);
}

.footer-top__logo {
  /* inline-size: min(156px, 100%); */
  padding-block-end: var(--gap-18);

  & img {
    block-size: var(--size-32);
  }
}

.footer-top__social-links {
  /* inline-size: 156px; */
  display: flex;
  gap: var(--gap-12);
  flex-wrap: wrap;
}

.footer-top__address {
  font-size: var(--font-16);
  font-style: normal;

  & p {
    display: flex;
    align-items: center;
    gap: var(--gap-8);
  }

  & .icon {
    inline-size: var(--size-18);
    aspect-ratio: 1;
    fill: var(--grey-500);
  }
}

.footer-top__nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-36);
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: var(--gap-32);
  align-items: center;
  padding-block: var(--gap-24);
  color: var(--grey-400);
}

.footer-bottom__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-36);
  row-gap: var(--gap-12);
}
