body > footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: var(--gap-20);
  margin-inline: auto;
  padding-block: var(--gap-48) var(--gap-18);
  font-size: var(--font-16);

  & > * {
    grid-column: 2;
  }
}

.landing__footer {
  width: 100%;
  display: grid;
  padding-block: var(--gap-48) var(--gap-18);

  & h3 {
    padding-block-end: var(--gap-12);
    color: var(--grey-400);
    font-size: var(--font-20);
    font-weight: 300;
  }

  & :where(p, a) {
    font-size: var(--font-16);
  }
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: var(--gap-56);
  row-gap: var(--gap-36);
  padding-block: var(--gap-48);
  border-block: 1px solid var(--grey-200);
}

.footer__rows {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap-4);
}

.footer-top__logo {
  padding-block-end: var(--gap-18);

  & img {
    height: var(--size-32);
  }
}

.footer-top__social-links {
  display: flex;
  gap: var(--gap-12);
}

.footer-top__address {
  font-size: var(--font-16);
  font-style: normal;
}

.footer-top__nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-36);
}

/* .footer-top__partners {
  flex: 1 0 auto;
} */

.footer-top__partners-logos {
  display: grid;
  grid-auto-rows: var(--size-18);
  gap: var(--gap-16);
  padding-block-start: var(--gap-6);

  & img {
    width: min-content;
  }
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: var(--gap-32);
  align-items: center;
  padding-block: var(--gap-24);
  color: var(--grey-400);
}

.footer-bottom__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-36);
  row-gap: var(--gap-12);
}
