#overview {
  display: grid;
  scroll-margin-block-start: var(--gap-72);
}

.video-container {
  grid-column: 1 / -1;
  justify-self: center;
  display: grid;
  position: relative;

  & video {
    max-block-size: 100%;
    object-fit: cover;
  }

  & > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & .video-controls {
    justify-self: flex-end;
    display: flex;
    gap: var(--gap-16);
    margin-block-start: var(--gap-8);
    margin-inline-end: var(--gap-8);
    z-index: 5;
  }

  &::after {
    content: '';
    position: absolute;
    inset-inline: 0;
    inset-block: 0 50%;
    opacity: 0;
    background-image: linear-gradient(
      to top,
      hsl(from var(--grey-50) h s l / 0%) 0%,
      hsl(from var(--grey-50) h s l / 100%) 100%
    );
    transition: opacity 0.2s ease-in-out;
    user-select: none;
    pointer-events: none;
    z-index: 4;
  }

  &:hover::after {
    opacity: 1;
  }
}
[data-playback='play'] svg:first-child,
[data-playback='pause'] svg:last-child {
  display: grid;
}

/* [data-playback='pause'] svg:first-child,
[data-playback='play'] svg:last-child {
  display: none;
} */

[data-sound='mute'] svg:first-child,
[data-sound='unmute'] svg:last-child {
  display: grid;
}

/* [data-sound='mute'] svg:first-child,
[data-sound='unmute'] svg:last-child {
  display: none;
} */

.overview__video {
  min-block-size: 100%;
  aspect-ratio: 4 / 3;
  border-radius: var(--border-corner-12);
}

.mob-version {
  display: none;
}

@media screen and (max-width: 960px) {
  .mob-version {
    display: grid;
  }
  .pc-version {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  #overview {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    & > :not(.video-container) {
      grid-column: 2;
    }
  }

  .overview__video {
    border-radius: 0;
  }
}
