#features {
  display: grid;
  scroll-margin-block-start: var(--gap-72);
}

.feature__item {
  container-type: inline-size;
  display: flex;
  gap: var(--gap-36);

  &:not(:last-of-type) {
    margin-block-end: var(--gap-192);
  }

  & > * {
    flex: 1;
  }
}

.feature__item:nth-of-type(odd) {
  flex-flow: row-reverse;
}

@container (max-width: 960px) {
  .feature__item,
  .feature__item:nth-of-type(odd) {
    flex-flow: column;
  }
}

.feature__item:nth-of-type(odd) .picture-container {
  justify-content: left;
}

.picture-container {
  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
}
/* .video-container.mobview {
  display: grid;
  position: relative;
  justify-content: right;

  & video {
    max-height: 100%;
    object-fit: cover;
  }

  & > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & .video-controls {
    justify-self: flex-end;
    display: flex;
    gap: var(--gap-16);
    margin-block-start: var(--gap-8);
    margin-inline-end: var(--gap-8);
    z-index: 5;
  }

  &::after {
    content: '';
    position: absolute;
    inset-inline: 0;
    inset-block: 0 50%;
    opacity: 0;
    background-image: linear-gradient(
      to top,
      hsl(from var(--grey-50) h s l / 0%) 0%,
      hsl(from var(--grey-50) h s l / 100%) 100%
    );
    transition: opacity 0.2s ease-in-out;
    user-select: none;
    pointer-events: none;
    z-index: 4;
  }

  &:hover::after {
    opacity: 1;
  }
}
[data-playback='play'] svg:first-child,
[data-playback='pause'] svg:last-child {
  display: grid;
}


[data-sound='mute'] svg:first-child,
[data-sound='unmute'] svg:last-child {
  display: grid;
}


.feature__video {
  min-height: 100%;
  aspect-ratio: 4 / 3;
  border-radius: var(--border-corner-12);
} */

.feature__content {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-36);

  &:has(.feaure__subtitle) {
    gap: var(--gap-18);
  }
}

.feature__title {
  padding-inline-start: var(--gap-32);
  color: var(--black);
  font-size: clamp(var(--font-24), 6vw, var(--font-48));
}

.feaure__subtitle {
  display: grid;
  row-gap: var(--gap-6);
  padding-block-end: var(--gap-18);
  font-size: var(--font-20);

  & p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-8);
  }

  & img {
    height: var(--size-20);
  }
}

.feature__description {
  display: grid;
  row-gap: var(--gap-24);

  & li {
    padding-inline-start: var(--gap-32);
    font-size: clamp(var(--font-18), 3vw, var(--font-24));
    color: var(--grey-400);
    text-wrap: balance;
    line-height: 1.4;
  }

  & strong {
    display: flex;
    align-items: center;
    padding-block-end: var(--gap-8);
    position: relative;
  }

  & .icon {
    position: absolute;
    inset-inline-start: -2rem;
    width: var(--size-32);
    aspect-ratio: 1;
    fill: var(--primary);
  }
}

.feature__button {
  margin-block-start: var(--gap-24);
  margin-inline: auto;
}

.feature__qoute {
  justify-self: center;
  max-width: 765px;
  display: grid;
  grid-template-columns: var(--size-96) 1fr;
  grid-template-areas:
    'img name'
    'img job'
    'quote quote';
  column-gap: var(--gap-16);
  padding: var(--gap-36);
  margin-block-end: var(--gap-192);
  border-radius: var(--border-corner-16);

  & > img {
    grid-area: img;
    height: var(--size-96);
    border-radius: 50vw;
  }

  & h3 {
    grid-area: name;
    align-self: flex-end;
    color: var(--black);
    font-size: clamp(var(--font-24), 3vw, var(--font-36));
    font-weight: 300;
  }

  & p {
    grid-area: job;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-8);
    color: var(--grey-400);
    font-size: clamp(var(--font-18), 3vw, var(--font-24));

    & img {
      height: var(--size-20);
    }
  }

  & blockquote {
    grid-area: quote;
    padding-block-start: var(--gap-24);
    font-size: clamp(var(--font-16), 3vw, var(--font-20));
    font-style: italic;
    line-height: 1.4;
  }
}

@media screen and (max-width: 640px) {
  #features {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    & > :not(.feature__item) {
      grid-column: 2;
    }
  }

  .feature__item {
    grid-column: 1 / -1;
    background-color: var(--grey-100);
  }

  .feature__video {
    border-radius: 0;
  }

  .feature__content {
    padding-block-end: var(--gap-56);
    padding-inline: var(--gap-20);
  }
}
