.pricing__plan {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: var(--gap-16);
  padding-block: var(--gap-48);
  padding-inline: var(--gap-48);
  position: relative;

  & h3 {
    color: var(--black);
    font-size: var(--font-32);
  }

  p {
    color: var(--grey-400);
    font-size: var(--font-16);
  }

  & .plan__divider {
    height: 1px;
    width: 100%;
    background-color: var(--grey-200);
    margin-block: var(--gap-18);
  }

  & h4 {
    padding-block-end: var(--gap-8);
    color: var(--black);
  }
}

.plan-individuals {
  grid-column: 1 / 4 span;
}
.plan-company {
  --border-r: var(--border-corner-16);
  --rotation: 115deg;
  grid-column: 5 / 4 span;
}
.plan-custom {
  grid-column: 9 / 4 span;
}
.plan-individuals,
.plan-custom {
  border-radius: var(--border-corner-16);
  border: 1px solid var(--surface);
}

.plan__price {
  display: flex;
  column-gap: var(--gap-8);
  align-items: flex-end;
  padding-block: var(--gap-8) var(--gap-20);
  flex-wrap: nowrap;

  & span {
    color: var(--black);
    font-size: var(--font-48);
    font-weight: bold;
    line-height: 0.8;
  }
}

.plan__features {
  display: grid;
  row-gap: var(--gap-8);

  & li {
    display: flex;
    column-gap: var(--gap-8);
    align-items: center;
    color: var(--black);

    & .icon {
      flex: 0 1 var(--size-32);
      min-width: var(--size-32);
      aspect-ratio: 1;
      fill: var(--grey-500);
    }
  }
}
.plan__workers-amount {
  height: var(--size-48);
  display: grid;
  grid-template-columns: var(--gap-8) var(--size-24) 1fr min-content var(--size-24) var(--gap-8);
  column-gap: var(--gap-8);
  align-items: center;
  margin-block-end: var(--gap-20);

  & > * {
    grid-row: 1;
  }

  & :where(span) {
    pointer-events: none;
  }

  & .icon {
    width: var(--size-24);
    aspect-ratio: 1;
  }

  & .icon:has([href*='workers']) {
    grid-column: 2;
    fill: var(--grey-300);
    inset-inline: auto calc(var(--gap-18) + var(--size-24) + var(--gap-8));
  }

  & span {
    grid-column: 4;
    /* inset-inline-start: calc(var(--gap-18) + var(--size-24) + var(--gap-8)); */
    inset-inline: auto var(--gap-48);
    color: var(--grey-300);
    font-weight: bold;
    user-select: none;
  }

  & .icon:has([href*='chevron-down']) {
    grid-column: 5;
    fill: var(--grey-500);
  }
}

#plan__select-workers {
  grid-column: 1 / -1;
  height: var(--size-48);
  padding-inline-start: var(--gap-48);
  border: 1px solid var(--grey-300);
  border-radius: var(--border-corner-8);
  background-color: transparent;
  font-size: var(--font-20);
  color: var(--grey-500);

  &:nth-of-type(1) {
    font-weight: bold;
  }
}

@media screen and (max-width: 1200px) {
  .plan-individuals {
    --border-r: var(--border-corner-16);
    --rotation: 115deg;
    grid-column: 1 / -1;
  }
  .plan-company {
    --border-r: var(--border-corner-16);
    --rotation: 115deg;
    grid-column: 1 / -1;
  }
  .plan-custom {
    grid-column: 1 / -1;
  }
}
