/* HERO SECTION */
#unlogged,
#logged {
  padding-block-start: clamp(var(--gap-64), 6vw, var(--gap-192));
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap-12);
  align-content: center;
  margin-inline: auto;

  & > * {
    justify-self: center;
    max-inline-size: 768px;
  }

  & p {
    text-wrap: balance;
  }

  & > h1 {
    color: var(--black);
    font-size: clamp(var(--font-32), 7vw, var(--font-64));
    line-height: 1;
    text-align: center;
  }

  & > p:nth-of-type(1) {
    padding-block: var(--gap-24) var(--gap-48);
    color: var(--grey-400);
    font-size: clamp(var(--font-18), 3vw, var(--font-24));
    text-align: center;
  }
}

/* UNLOGGED HERO SECTION */
#unlogged {
  & p:nth-of-type(2) {
    max-inline-size: 45ch;
    font-size: var(--font-16);
    text-align: center;
    padding-block-end: var(--gap-24);

    & strong {
      color: var(--whatsapp-dark-green);
    }

    & span {
      font-weight: bold;
    }
  }
}

/* If intered value is not number */
#unlogged:has(.error-message.show) #login__phone-number {
  color: var(--warning-error);
}

#unlogged:has(.error-message.show) .login__fieldset {
  border-bottom-color: var(--warning-error);
  margin-block-start: var(--gap-20);
}

/* INPUTs / FORM */
.login__form {
  inline-size: min(100%, 440px);
  display: grid;
  column-gap: var(--gap-16);
  transition: grid-template-rows 0.2s linear;

  &:has(.error-message) {
    grid-template-rows: 0fr min-content;
  }

  &:has(.error-message.show) {
    grid-template-rows: 1fr min-content;
  }

  & > button.login__btn {
    justify-self: center;
    margin-block-start: var(--gap-32);
  }
}

.login__fieldset {
  --color-exeption: #edf0f7;
  --input-font-size: var(--font-28);
  display: grid;
  grid-template-columns: var(--size-88) auto 1fr;
  grid-template-areas: 'select code number';
  align-items: center;
  grid-auto-flow: column;
  position: relative;
  border-bottom: 1px solid var(--black);
  background-color: var(--color-exeption);
  padding-inline-end: var(--gap-12);
  transition: margin-block-start 0.3s linear;

  & legend {
    padding-inline-end: var(--gap-6);
    font-size: var(--font-14);
    font-weight: bold;
    white-space: nowrap;

    & span {
      color: var(--warning-error);
    }
  }
}

.login__country-short {
  grid-area: select;
  display: grid;
  grid-template-columns: 1fr var(--size-24);
  align-items: center;
  gap: var(--gap-6);
  margin-inline: var(--gap-8);
  position: relative;
  background-color: var(--color-exeption);
  color: var(--grey-400);
  font-size: var(--input-font-size);
  font-weight: bold;
  user-select: none;
  pointer-events: none;

  & span {
    justify-self: center;
  }

  & .icon {
    inline-size: var(--size-24);
    aspect-ratio: 1;
    fill: var(--grey-500);
  }
}

#login__country-select {
  grid-area: select;
  padding-block: var(--gap-6);
  padding-inline: var(--gap-8);
  color: var(--grey-400);
  border-right: 1.5px solid var(--grey-200);
  font-family: 'Twemoji Country Flags', 'SF Pro Text', sans-serif;
  -webkit-font-smoothing: antialiased; /* for MacOs */
  font-size: var(--input-font-size);
  font-weight: bold;
  word-spacing: 5rem;

  & optgroup {
    font-style: italic;
    font-size: var(--font-20);
  }

  & option {
    font-style: normal;
    font-size: large;
  }
  & option:checked {
    background-color: var(--grey-200);
  }
}

#login__country-code {
  padding-inline-start: var(--gap-8);
  color: hsl(from var(--primary) h s l / 50%);
  font-size: var(--input-font-size);
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

#login__phone-number {
  inline-size: 100%;
  padding-block: var(--gap-12);
  padding-inline-start: var(--gap-8);
  background-color: transparent;
  font-size: var(--input-font-size);
  font-weight: bold;
}

#login__phone-number::placeholder {
  color: var(--grey-200);
  font-size: var(--input-font-size);
}

#login__phone-number:focus {
  outline: none;
}

/* LOGGED HERO SECTION */
#logged {
  & > span {
    padding-block-start: var(--gap-12);
    color: var(--grey-400);
    font-size: var(--font-24);
  }
}

.user__picture {
  --border-r: 50vw;
  inline-size: var(--size-152);
  aspect-ratio: 1;
  justify-self: center;
  padding: var(--gap-12);
  position: relative;

  & * {
    user-select: none;
  }

  & > img {
    inline-size: var(--size-128);
    block-size: var(--size-128);
    border-radius: var(--border-r);
  }

  & .picture__recognition {
    position: absolute;
    inset-inline-end: -15%;
    inset-block-end: -15%;
    rotate: -45deg;
    scale: 1;
    animation: click 7s ease-out infinite;
    animation-delay: 2s;
    pointer-events: none;

    & > span {
      position: absolute;
      inset-inline-end: -5.1rem;
      inset-block-end: -3.2rem;
      color: var(--grey-300);
      rotate: 45deg;
      white-space: nowrap;
    }
  }

  .picture__checkmark {
    inline-size: var(--size-48);
    aspect-ratio: 1;
    place-content: center;
    position: absolute;
    bottom: 0;
    right: 10%;
    border-radius: var(--border-r);
    background-color: var(--surface);
    box-shadow: 0 30px 50px hsl(from var(--primary) h s l / 5%);

    & .icon {
      inline-size: var(--size-36);
      block-size: var(--size-36);
      aspect-ratio: 1;
      & use {
        fill: var(--whatsapp-dark-green);
      }
    }
  }
}

.user__picture:has(img[src*='avatar.svg']) .picture__checkmark,
.user__picture:has(:not([src*='avatar.svg'])) .picture__recognition {
  display: none;
}

.user__picture:has(img[src*='avatar.svg']) .picture__recognition,
.user__picture:has(:not([src*='avatar.svg'])) .picture__checkmark {
  display: grid;
}

@keyframes click {
  10% {
    scale: 1;
    translate: 0 0;
  }
  15% {
    scale: 0.9;
    translate: -2rem -2rem;
  }
  20% {
    translate: 0 0;
    scale: 1;
  }
}

@media screen and (max-width: 480px) {
  .picture__recognition span {
    display: none;
  }

  .login__fieldset {
    --input-font-size: var(--font-24);

    & legend {
      font-size: var(--font-14);
    }

    & .icon-phone {
      display: none;
    }

    & .icon {
      inline-size: var(--size-20);
      inset-inline-start: var(--gap-40);
      inset-block: 1rem;
    }
  }

  #login__country-short {
    inline-size: var(--size-64);
  }

  #login__country-code {
    padding-inline-start: var(--gap-8);
  }
}
