/* BACKGROUND */
.bg {
  justify-self: center;
  width: 100%;
  height: 1080px;
  position: absolute;
  inset-inline: 0;
  contain: paint;
  z-index: -10;
}

.bg__wrapper {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  contain: content;
}

.bg__wave {
  position: absolute;
  z-index: -100;
}
.bg__lines {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media screen and (max-width: 760px) {
  .bg {
    display: none;
  }
}

/* BACKGROUND ANIMATIONS */
@property --start-point {
  syntax: '<length>';
  initial-value: 0px;
  inherits: false;
}

@property --end-point {
  syntax: '<length>';
  initial-value: 0%;
  inherits: false;
}

@property --time {
  syntax: '<time>';
  initial-value: 0s;
  inherits: false;
}

@property --delay {
  syntax: '<time>';
  initial-value: 0s;
  inherits: false;
}

path[class*='lines__'] {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: var(--time);
  animation-delay: var(--delay);
}

.lines__v-animation {
  animation-name: vertical-line;
}

.lines__h-animation {
  animation-name: horizontal-line;
}

.from-top {
  --start-point: -100px;
  --end-point: 100%;
  --time: 15s;
}

[stroke='url(#paint5)'] {
  translate: 0 -100px;
  --delay: 10s;
}
[stroke='url(#paint12)'] {
  translate: 0 -100px;
  --delay: 3s;
}

.from-bottom {
  --start-point: 100px;
  --end-point: -100%;
  --time: 18s;
}

[stroke='url(#paint1)'] {
  translate: 0 100px;
  --delay: 5s;
}
[stroke='url(#paint14)'] {
  translate: 0 100px;
  --delay: 1s;
}

.from-right {
  --start-point: -100px;
  --end-point: 100%;
  --time: 20s;
}

[stroke='url(#paint20)'] {
  translate: -100px 0;
  --delay: 11s;
}

.from-left {
  --start-point: 100px;
  --end-point: -100%;
  --time: 14s;
}

[stroke='url(#paint18)'] {
  translate: 100px 0;
  --delay: 6s;
}
[stroke='url(#paint25)'] {
  translate: 100px 0;
  --delay: 2s;
}

@keyframes vertical-line {
  10%,
  90% {
    translate: 0 var(--start-point);
    opacity: 0;
  }
  25%,
  75% {
    opacity: 0.6;
  }
  40%,
  60% {
    translate: 0 var(--end-point);
    opacity: 0;
  }
}

@keyframes horizontal-line {
  10%,
  90% {
    translate: var(--start-point) 0;
    opacity: 0;
  }
  25%,
  75% {
    opacity: 0.3;
  }
  40%,
  60% {
    translate: var(--end-point) 0;
    opacity: 0;
  }
}

@property --step {
  syntax: '<length>';
  initial-value: 0%;
  inherits: false;
}

circle[class*='circle-to'] {
  --step: 132px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: var(--time);
  animation-delay: var(--delay);
}

.circle-to-bottom {
  animation: to-bottom;
}

circle#circle-1 {
  --time: 19s;
  --delay: 1s;
}
circle#circle-9 {
  --time: 21s;
  --delay: 5s;
}

.circle-to-top {
  animation: to-top;
}

circle#circle-4 {
  --time: 20s;
  --delay: 1s;
}
circle#circle-7 {
  --time: 25s;
  --delay: 3s;
}

.circle-to-left {
  animation: to-left;
}

circle#circle-2 {
  --time: 17s;
  --delay: 15s;
}
circle#circle-5 {
  --time: 20s;
  --delay: 7s;
}
circle#circle-8 {
  --time: 21s;
}
circle#circle-10 {
  --time: 26s;
  --delay: 8s;
}

.circle-to-right {
  animation: to-right;
}

circle#circle-3 {
  --time: 18s;
  --delay: 1s;
}
circle#circle-6 {
  --time: 20s;
  --delay: 7s;
}

@keyframes to-bottom {
  20%,
  80% {
    translate: 0 0;
  }
  30%,
  70% {
    translate: 0 var(--step);
  }
}

@keyframes to-right {
  10%,
  70% {
    translate: 0 0;
  }
  20%,
  60% {
    translate: calc(var(--step) * -1) 0;
  }
}

@keyframes to-left {
  0%,
  60% {
    translate: 0 0;
  }
  10%,
  50% {
    translate: var(--step) 0;
  }
}

@keyframes to-top {
  10%,
  70% {
    translate: 0 0;
  }
  20%,
  60% {
    translate: 0 calc(var(--step) * -1);
  }
}
