/* HERO SECTION */
#unlogged,
#logged {
	height: calc(100vh - 68px);
	display: grid;
	grid-auto-rows: min-content;
	align-content: center;
	margin-inline: auto;
	gap: var(--gap-12);

	& > * {
		justify-self: center;
		max-width: 768px;
	}

	& h1 {
		color: var(--black);
		font-size: clamp(var(--font-32), 7vw, var(--font-64));
		line-height: 1;
		text-align: center;
	}

	& p:nth-of-type(1) {
		padding-block: var(--gap-24) var(--gap-48);
		color: var(--grey-400);
		font-size: clamp(var(--font-18), 3vw, var(--font-24));
		text-align: center;
	}

	& p:nth-of-type(2) {
		max-width: 45ch;
		font-size: var(--font-16);
		text-align: center;
		padding-block-end: var(--gap-36);

		& strong {
			color: var(--whatsapp-dark-green);
		}

	}

	& span {
		font-weight: bold;
	}
}

@container (max-width: 768px) {
	#unlogged,
	#logged {
		height: 100%;
		padding-block-start: var(--gap-64);
	}
}

/* OUR PARTNERS BLOCK */
.our-partners {
	justify-self: center;
	max-width: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-content: center;
	gap: var(--gap-16);
	padding-block-start: var(--gap-72);

	& span {
		grid-column: 1 / -1;
		text-align: center;
	}

	& span:nth-of-type(1) {
		grid-row: 1;
		font-size: var(--font-18);
	}

	& img:nth-of-type(1) {
		justify-self: flex-end;
	}

	& span:nth-of-type(2) {
		font-size: var(--font-14);
		padding-block-start: var(--gap-12);
		grid-row: 3;
	}
}


/* UNLOGGED HERO SECTION */
#unlogged {
	& p:nth-of-type(2) {
		max-width: 45ch;
		font-size: var(--font-16);
		text-align: center;
		padding-block-end: var(--gap-36);

		& strong {
			color: var(--whatsapp-dark-green);
		}

		& span {
			font-weight: bold;
		}
	}
}

/* If intered value is not number */
#unlogged:has(.error-message.show) form input#unlogged__phone-number {
	color: var(--warning-error);
}
#unlogged:has(.error-message.show) .unlogged__input-group svg use {
	fill: var(--warning-error);
}

/* INPUTs / FORM */
.unlogged__form {
	display: grid;
	column-gap: var(--gap-16);
	row-gap: var(--gap-32);

	& > button.unlogged__btn {
		justify-self: center;
	}
}

.unlogged__input-group {
	display: grid;
	row-gap: var(--gap-8);
	position: relative;

	& legend {
		padding-inline-end: var(--gap-6);
		font-size: var(--font-14);
		font-weight: bold;
		& span {
			color: var(--warning-error);
		}
	}

	& .icon {
		width: var(--size-40);
		height: var(--size-40);
		aspect-ratio: 1;
		position: absolute;
		inset-block: 0.725rem;
		left: var(--gap-6);

		& use {
			fill: var(--grey-500);
		}
	}

	& input {
		max-width: 340px;
		padding-block: var(--gap-12);
		padding-inline: var(--gap-48) var(--gap-12);
		background-color: hsl(from var(--white) h s l / 0.5);
		border-bottom: 1px solid var(--black);
		font-size: var(--font-32);
		font-weight: bold;
	}

	& input::placeholder {
		color: var(--grey-200);
		font-size: var(--font-32);
	}

	& input:focus {
		outline: none;
	}
}

/* LOGGED HERO SECTION */
#logged {
	& > span {
		padding-block-start: var(--gap-12);
		color: var(--grey-400);
		font-size: var(--font-24);
	}
}

.user__picture {
	--br: 50vw
	justify-self: center;
	padding: var(--gap-24);
	position: relative;
	border-radius: 50vw;

	& img {
		width: var(--size-128);
		aspect-ratio: 1;
		border-radius: 50vw;
	}

	.picture__checkmark {
		width: var(--size-48);
		aspect-ratio: 1;
		display: grid;
		place-content: center;
		position: absolute;
		bottom: 0;
		right: 10%;
		border-radius: 50vw;
		background-color: var(--surface);
		box-shadow: 0 30px 50px hsl(from var(--primary) h s l / 5%);

		& .icon {
			width: var(--size-36);
			height: var(--size-36);
			aspect-ratio: 1;
			& use {
				fill: var(--whatsapp-dark-green);
			}
		}
	}
}
