#da-dialog {
  width: min(600px, 100%);
}

#da__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  transition: grid-template-rows 0.2s linear;

  & .error-message {
    grid-column: 1 / -1;
  }

  &:has(.error-message) {
    grid-template-rows: 0fr min-content;
  }

  &:has(.error-message.show) {
    grid-template-rows: 1fr min-content;
  }

  & [type='button'] {
    justify-self: flex-start;
  }
  & [type='submit'] {
    justify-self: flex-end;
  }

  &:has(.error-message.show) .form__reason-list {
    margin-block-start: var(--gap-16);
  }
}

.form__reason-list {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--gap-16);
  transition: margin-block-start 0.2s linear;
}

.form__reason-delete {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: var(--size-24) 1fr;
  gap: var(--gap-18);

  & [type='radio'] {
    width: var(--size-24);
    aspect-ratio: 1;
  }

  & p {
    color: var(--black);
    font-size: var(--font-16);
    font-weight: bold;
  }

  &:last-of-type {
    padding-block-end: var(--gap-24);
  }
}

@media screen and (max-width: 480px) {
  #da__form {
    & button {
      grid-column: 1 / -1;
      min-width: 100%;
      justify-content: center;
    }
  }
}
