/* MAIN MODAL DIALOG STYLE */
.dialog {
  --rotation: 115deg;
  padding-inline: clamp(var(--gap-16), 5vw, var(--gap-36));
  padding-block-end: var(--gap-36);
  row-gap: var(--gap-36);
  margin: auto;
  animation: hide-dialog 0.1s ease-in-out;
}

.dialog[open] {
  animation: show-dialog 0.2s ease-in-out;
}

@keyframes show-dialog {
  0% {
    translate: 0 2rem;
    opacity: 0;
    display: none;
  }
  1% {
    display: block;
    translate: 0 2rem;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
    display: block;
  }
}

@keyframes hide-dialog {
  0% {
    translate: 0 0;
    opacity: 1;
    display: block;
  }
  99% {
    display: block;
    translate: 0 2rem;
    opacity: 0;
  }
  100% {
    translate: 0 2rem;
    opacity: 0;
    display: none;
  }
}

.dialog::backdrop {
  background-color: hsl(from var(--white) h s l / 80%);
  backdrop-filter: blur(10px);
}

.dialog__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-36);
}
/* Gap  for ITEM DIALOG */
.dialog#mp-item-dialog .dialog__wrapper {
  row-gap: var(--gap-8);
}

.dialog__header {
  display: grid;
  align-items: center;
  row-gap: var(--gap-8);
  position: sticky;
  inset-block-start: 0;
  background-color: hsl(from #edeff6 h s l / 85%);
  backdrop-filter: blur(5px);
  padding-block: var(--gap-36) var(--gap-16);
  z-index: 199;

  & * {
    text-align: center;
  }

  & h2 {
    padding-block-start: var(--gap-18);
    color: var(--black);
    font-size: clamp(var(--font-24), 5vw, var(--font-32));
  }

  & p {
    color: var(--grey-500);
    font-size: clamp(var(--font-16), 3.5vw, var(--font-20));
  }

  & strong {
    color: var(--whatsapp-dark-green);
  }

  & button {
    grid-row: 1;
  }

  &:has([data-button='close']) [data-button='close'] {
    justify-self: flex-end;
  }

  & span {
    font-weight: bold;
  }
}

[id*='auth-dialog'] .dialog__header p:not(.error-message),
[id*='login-dialog'] .dialog__header p:not(.error-message) {
  padding-block-start: var(--gap-16);
  text-align: center;
  text-wrap: balance;
}

.dialog__scroll-area {
  display: grid;
  gap: var(--gap-16);
}

@media screen and (max-width: 960px) {
  .dialog__main {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  .dialog__scroll-area {
    grid-auto-flow: row;
    max-height: 100%;
    overflow-y: auto;
  }
}
