#mp-login-dialog .dialog__wrapper {
  max-width: 768px;
  padding-block-end: var(--gap-36);
}

.auth__main {
  display: grid;
  place-content: center;
  row-gap: var(--gap-12);
}

.dialog__header {
  & h2 {
    color: var(--black);
    font-size: clamp(var(--font-32), 7vw, var(--font-64));
    line-height: 1;
  }

  & p:not(.error-message) {
    padding-block-start: var(--gap-16);
    text-align: center;
    text-wrap: balance;

    & strong {
      color: var(--whatsapp-dark-green);
    }

    & span {
      font-weight: bold;
    }
  }
}

/* If intered value is not number */
#mp-login-dialog:has(.error-message.show) form {
  padding-block-start: var(--gap-24);
}
#mp-login-dialog:has(.error-message.show) form input#unlogged__phone-number {
  color: var(--warning-error);
}
#mp-login-dialog:has(.error-message.show) .unlogged__input-group svg use {
  fill: var(--warning-error);
}

/* INPUTs / FORM */
.unlogged__form {
  justify-self: center;
  width: min(100%, 400px);
  display: grid;
  column-gap: var(--gap-16);
  row-gap: var(--gap-32);

  & > button.unlogged__btn {
    justify-self: center;
  }
}

.unlogged__input-group {
  display: grid;
  row-gap: var(--gap-8);
  position: relative;

  & legend {
    padding-inline-end: var(--gap-6);
    font-size: var(--font-14);
    font-weight: bold;
    & span {
      color: var(--warning-error);
    }
  }

  & .icon {
    width: var(--size-40);
    height: var(--size-40);
    aspect-ratio: 1;
    position: absolute;
    inset-block: 0.725rem;
    left: var(--gap-6);

    & use {
      fill: var(--grey-500);
    }
  }

  & input {
    width: 100%;
    padding-block: var(--gap-12);
    padding-inline: var(--gap-48) var(--gap-12);
    background-color: hsl(from var(--white) h s l / 0.5);
    border-bottom: 1px solid var(--black);
    font-size: var(--font-32);
    font-weight: bold;
  }

  & input::placeholder {
    color: var(--grey-200);
    font-size: var(--font-32);
  }

  & input:focus {
    outline: none;
  }
}
