[id*='login-dialog'] .dialog__wrapper {
  max-width: 768px;
  padding-block-end: var(--gap-36);
}

.auth__main {
  display: grid;
  place-content: center;
  row-gap: var(--gap-12);
}

/* If intered value is not number */

[id*='login-dialog']:has(.error-message.show) #login__phone-number {
  color: var(--warning-error);
}

[id*='login-dialog']:has(.error-message.show) .login__input-group {
  border-bottom-color: var(--warning-error);
  margin-block-start: var(--gap-20);
}

/* INPUTs / FORM */
.login__form {
  justify-self: center;
  width: min(100%, 460px);
  display: grid;
  column-gap: var(--gap-16);
  transition: grid-template-rows 0.2s linear;

  &:has(.error-message) {
    grid-template-rows: 0fr min-content;
  }

  &:has(.error-message.show) {
    grid-template-rows: 1fr min-content;
  }

  & > button.login__btn {
    justify-self: center;
    margin-block-start: var(--gap-32);
  }
}

.login__input-group {
  --input-font-size: var(--font-28);
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  position: relative;
  border-bottom: 1px solid var(--black);
  background-color: hsl(from var(--white) h s l / 0);
  padding-inline-end: var(--gap-12);
  transition: margin-block-start 0.3s linear;

  & legend {
    padding-inline-end: var(--gap-6);
    font-size: var(--font-14);
    font-weight: bold;
    & span {
      color: var(--warning-error);
    }
  }

  & .icon-phone {
    width: var(--size-40);
    aspect-ratio: 1;
    fill: var(--grey-500);
  }

  & .icon-chevron {
    width: var(--size-24);
    aspect-ratio: 1;
    position: absolute;
    inset-inline-start: var(--gap-48);
    inset-block: 1.175rem;
    fill: var(--grey-500);
    rotate: -90deg;
    pointer-events: none;
    z-index: 100;
  }
}

#login__country-code {
  appearance: none;
  border: 0;
  width: var(--size-72);
  padding-block: var(--gap-6);
  padding-inline: var(--gap-8);
  background-color: var(--grey-200);
  border-radius: var(--border-corner-6);
  color: var(--grey-400);
  font-family: 'Twemoji Country Flags', 'SF Pro Text', sans-serif;
  -webkit-font-smoothing: antialiased; /* for MacOs */
  font-size: var(--input-font-size);
  font-weight: bold;
  word-spacing: 5rem;
  outline-color: var(--black);

  & option {
    font-size: large;
  }
}

#login__phone-code {
  color: var(--grey-300);
  font-size: var(--input-font-size);
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

#login__phone-number {
  width: 100%;
  padding-block: var(--gap-12);
  padding-inline-start: var(--gap-8);
  background-color: transparent;
  font-size: var(--input-font-size);
  font-weight: bold;
}

#login__phone-number::placeholder {
  color: var(--grey-200);
  font-size: var(--input-font-size);
}

#login__phone-number:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .login__input-group {
    --input-font-size: var(--font-20);

    & legend {
      font-size: var(--font-14);
    }

    & .icon-phone {
      display: none;
    }

    & .icon-chevron {
      width: var(--size-20);
      inset-inline-start: var(--gap-36);
      inset-block: 0.9rem;
    }
  }

  #login__country-code {
    width: var(--size-64);
  }

  #login__phone-code {
    padding-inline-start: var(--gap-8);
  }
}
