input {
  accent-color: var(--grey-400);
}

.app {
  overflow: hidden;
}

/* HEADER */
.app__header {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  display: grid;
  grid-template-columns: var(--size-48) auto 1fr;
  column-gap: var(--gap-16);
  align-items: center;
  padding: var(--gap-16);
  background-color: var(--white);
  z-index: 99;
}

.eiffels-logo {
  max-width: 4.5rem;
  height: auto;
}

.header__user {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: auto var(--size-56);
  grid-template-rows: min-content;
  gap: var(--gap-4) var(--gap-16);
}

.user__name {
  font-weight: bold;
  font-size: var(--font-18);
  align-self: flex-end;
  line-height: 1;
}

.user__role {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  font-size: var(--font-16);
  line-height: 1;
}

.user__account {
  grid-column: 2;
  grid-row: 2 span;
  width: var(--size-48);
  aspect-ratio: 1;
  background-color: var(--grey-400);
  color: var(--white);
  border-radius: 50vw;
  font-size: var(--font-20);
  user-select: none;
}

.btn-menu {
  width: var(--size-48);
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  background-color: var(--grey-100);
  border-radius: 50vw;

  & .icon {
    width: var(--size-32);
    aspect-ratio: 1;
    user-select: none;
  }
}

/* APP WRAPPER */
.app__wrapper {
  display: grid;
  grid-template-columns: 360px 1fr;
  column-gap: var(--gap-48);
  padding-block-start: var(--gap-80);
  transition:
    grid-template-columns .3s cubic-bezier(0, 0.5, 0.25, 1),
    column-gap .3s cubic-bezier(0, 0.5, 0.25, 1);
}

.app__wrapper.hidden {
  grid-template-columns: 0 1fr;
  column-gap: 0;
  transition:
    grid-template-columns .3s cubic-bezier(0.5, 0, 1, .5),
    column-gap .3s cubic-bezier(0.5, 0, 1, .5);
}

/* Check animation in global css */
.app__wrapper.hidden .app__nav {
  animation: hide-from-DOM .3s ease-in-out forwards;
}

/* NAVIGATION */
.app__nav {
  grid-row: 2;
  grid-column: 1;
  overflow-x: hidden;
}

/* Prevent text collapse when hide navigation */
.app__nav * {
  white-space: nowrap;
}

/* Adding padding to ath all children of navigation  */
.app__nav>* {
  padding-inline: var(--gap-48);
}

.nav__scroll {
  display: grid;
  grid-template-rows: 1fr auto auto;
  height: calc(100vh - (var(--gap-48) + var(--gap-16) * 2));
  position: relative;

  &::before {
    content: '';
    width: 1.5px;
    position: absolute;
    inset-inline-end: 0;
    inset-block: 0 5rem;
    background-color: var(--grey-200);
    transition: opacity .3s ease-out;
    transition-delay: .2s;
  }
}

.app__wrapper.hidden .nav__scroll::before {
  opacity: 0;
  transition: opacity .2s ease-in;
  transition-delay: 0s;
}

.nav__top,
.nav__center,
.nav__bottom {
  display: grid;
  row-gap: var(--gap-8);
}

.nav__top {
  align-self: flex-start;
}

.nav__center {
  position: relative;
  padding-block-end: var(--gap-32);

  &::before {
    content: '';
    height: 1px;
    position: absolute;
    inset-block-end: 0;
    inset-inline: 14%;
    background-color: var(--grey-200);
  }
}

.nav__nav-item {
  min-width: 265px;
  padding: var(--gap-12) var(--size-32);
  border: 1.5px solid transparent;
  border-radius: 5rem;
  transition: background-color .3s ease-in-out;

  & a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: var(--gap-8);
    color: var(--grey-500);
    font-size: var(--font-20);
    font-weight: bold;
  }

  & .icon {
    width: var(--size-36);
    aspect-ratio: 1;
    user-select: none;
  }
}

.nav__nav-item:hover {
  background-color: var(--grey-100);
}

.nav__bottom {
  padding-block: var(--gap-32);
}

/* NAV WHATSAPP BUTTON */
.nav__whatsapp {
  min-width: 265px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  column-gap: var(--gap-8);
  padding: var(--gap-12) var(--gap-32);
  border-radius: var(--border-corner-8);
  background-color: var(--black);

  & img {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: var(--size-48);
    aspect-ratio: 1;
    align-self: center;
  }

  & p:first-of-type {
    grid-column: 2;
    grid-row: 1;
    font-size: var(--font-14);
    color: var(--grey-200);
    align-self: flex-end;
  }

  & p:last-of-type {
    grid-column: 2;
    grid-row: 2;
    color: var(--white);
    font-size: var(--font-20);
  }
}

/* Style for circle buttons in app */
.btn-circle {
  width: var(--size-48);
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border: 1.5px solid var(--grey-200);
  border-radius: 50vw;

  & svg {
    width: var(--size-32);
    aspect-ratio: 1;
  }
}

/* User Settings Popover */
[popover]:popover-open {
  display: grid;
}

#settings {
  min-width: 280px;
  align-items: center;
  gap: var(--gap-16);
  inset: 0 var(--gap-24) auto auto;
  inset-block-start: 5rem;
  padding: var(--gap-32);
  background-color: var(--surface);
  border: 1px solid var(--grey-100);
  border-radius: var(--border-corner-12);
  box-shadow:
      0 15px 15px hsl(205 45% 83% / .25),
      0 5px 5px hsl(0 66% 89% / .1);

  & svg {
    width: var(--size-32);
    aspect-ratio: 1;
  }

  & a {
    text-decoration: none;
  }

  & :where(a, button) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-18);
    padding: var(--gap-8) var(--gap-12);
    border-radius: var(--border-corner-8);
    color: var(--black);
    font-size: var(--font-20);
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: var(--grey-100);
    }
  }

  & form {
    padding-block-start: var(--gap-12);
    border-top: 1px solid var(--grey-200);
  }
}


@media screen and (max-width: 768px) {

  /* Hide navigation mobile priority  */
  .app__wrapper {
    grid-template-columns: 0 1fr;
    column-gap: 0;
  }

  .app__wrapper.hidden {
    grid-template-columns: 100vw 0;
  }

  .app__wrapper.hidden .app__nav {
    animation: none;
  }

  /* Check animation in global css */
  .app__wrapper .app__nav {
    animation: hide-from-DOM .3s ease-in-out forwards;
  }

  .nav__scroll > * {
    max-width: 320px;
  }
}
