.auth {
	max-width: 1920px;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	margin-inline: auto;
	padding-inline: var(--gap-16);
}

.auth__header {
	padding-block: var(--gap-18);
}

.auth__main {
	display: grid;
	place-content: center;
	row-gap: var(--gap-56);
}

.container {
	max-width: 680px;
	display: grid;
	justify-items: center;
	padding-block: var(--gap-96);
	padding-inline: var(--gap-96);

	& > * {
		grid-column: 2;
	}

	& h1 {
		display: flex;
		flex-wrap: nowrap;
		color: var(--black);
		font-size: clamp(var(--font-32), 7vw, var(--font-64));
		line-height: 1;
		text-align: center;

		& span {
			animation: bounce 2s ease-in-out infinite;
		}
		& span:nth-of-type(2) {
			animation-delay: 0.3s;
		}
		& span:nth-of-type(3) {
			animation-delay: 0.6s;
		}
	}

	p:not(.error-message) {
		padding-block-start: var(--gap-16);
		text-align: center;

		& strong {
			color: var(--whatsapp-dark-green);
		}
		& span {
			font-weight: bold;
		}
	}
}

@keyframes bounce {
	50% {
		transform: scale(1.1) translateY(-1rem);
		opacity: 0;
	}
}

.auth__form {
	justify-self: stretch;
	display: grid;
	padding-block-start: var(--gap-36);
}

.auth__input-group {
	display: flex;
	justify-content: space-between;
	column-gap: var(--gap-16);
	padding-block-end: var(--gap-36);

	& ::selection {
		background-color: var(--grey-500);
	}

	& input {
		width: var(--size-64);
		aspect-ratio: 1;
		padding: var(--gap-12);
		background-color: var(--grey-500);
		border: none;
		border-radius: var(--border-corner-8);
		color: var(--white);
		font-size: var(--font-48);
		font-weight: bold;
		text-align: center;
	}

	& input::placeholder {
		color: var(--grey-400);
		font-size: var(--font-48);
	}
}

.auth__btn {
	justify-self: center;
}

.auth__share-btn {
	justify-self: center;
	background-color: var(--white);
}

.hero__partners {
	justify-self: center;
	max-width: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-content: center;
	gap: var(--gap-16);
	padding-block-end: var(--gap-48);

	& span {
		grid-column: 1 / -1;
		text-align: center;
	}

	& span:nth-of-type(1) {
		grid-row: 1;
	}

	& img:nth-of-type(1) {
		justify-self: flex-end;
	}

	& span:nth-of-type(2) {
		padding-block-start: var(--gap-24);
		grid-row: 3;
	}
}
