/* MODAL DIALOG STYLE */
.dialog {
	--br: var(--border-corner-12);
	padding: var(--gap-36);
	row-gap: var(--gap-36);
	margin: auto;
}

.dialog::backdrop {
	background-color: hsl(from var(--white) h s l / 90%);
	backdrop-filter: blur(10px);
}

.dialog__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-36);
}

.dialog__header {
	display: grid;
	align-items: center;
	row-gap: var(--gap-8);

	& * {
		text-align: center;
	}

	& h2 {
		padding-block-start: var(--gap-18);
		color: var(--black);
		font-size: var(--font-32);
	}

	& p {
		color: var(--grey-500);
		font-size: var(--font-20);
	}

	& strong {
		color: var(--whatsapp-dark-green);
	}

	& button {
		justify-self: flex-end;
	}
}

.main__scroll-area {
	display: grid;
	gap: var(--gap-16);
}

/* DELETE ACCOUNT */
#da-dialog {
	max-width: 600px;
}

#da__form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: var(--gap-16);
	align-self: center;

	& [type='button'] {
		justify-self: flex-start;
	}
	& [type='submit'] {
		justify-self: flex-end;
	}
}

.form__reason-delete {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: var(--size-24) 1fr;
	gap: var(--gap-18);

	& [type='radio'] {
		width: var(--size-24);
		aspect-ratio: 1;
	}

	& p {
		color: var(--black);
		font-size: var(--font-16);
		font-weight: bold;
	}

	&:last-of-type {
		padding-block-end: var(--gap-24);
	}
}

@media screen and (max-width: 480px) {
	#da__form {
		& button {
			grid-column: 1 / -1;
			min-width: 100%;
			justify-content: center;
		}
	}
}

/* ADD PROFILE IMAGE */
#aup-dialog {
	max-width: 560px;
}

#aup__form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: var(--gap-48);
	align-self: center;

	& [type='submit'] {
		grid-column: 1 / -1;
		justify-self: center;
	}

	& button:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	& button:disabled .icon__save,
	& .icon__updating {
		display: none;
	}

	& button:disabled .icon__updating {
		display: block;
	}

	& .icon__updating {
		transform-origin: center;
		animation: updating 1s linear infinite;
	}
}

@keyframes updating {
	100% {
		rotate: 360deg;
	}
}

.aup__picture-upload {
	grid-column: 1 / -1;
	width: 220px;
	height: 220px;
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap-16);
	margin: auto;

	& :where(img, input) {
		grid-column: 1;
		grid-row: 1;
		width: 100%;
		border-radius: 50vw;
	}

	& input {
		opacity: 0;
		cursor: pointer;
		z-index: 5;
	}

	& img {
		object-fit: cover;
		object-position: center;
		z-index: 4;
	}
}

/* MARCETPLACE */
#mp-dialog {
	width: min(1200px, 100%);
}

#mp-dialog .main__scroll-area {
	grid-auto-flow: column;
}

.dialog__select {
	display: grid;
	grid-template-rows: auto var(--size-48) 1fr auto;
	gap: var(--gap-12) var(--gap-32);
	background-color: var(--surface);
	border-radius: var(--border-corner-12);
	border: 1px solid var(--grey-200);
	padding: var(--gap-18);
	transition: all 0.2s ease-in-out;

	& * {
		text-align: left;
	}

	& img {
		width: 100%;
		height: 220px;
		border-radius: var(--border-corner-8);
		object-fit: cover;
	}

	& .button-title {
		align-self: flex-end;
		color: var(--grey-500);
		font-weight: bold;
		font-size: var(--font-24);
		line-height: 1.2;
	}

	& .button-description {
		padding-block-end: var(--gap-24);
	}

	& .button-arrow {
		width: var(--size-48);
		height: var(--size-48);
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		border-radius: 50vw;
		background-color: var(--primary);

		& .icon {
			width: var(--size-32);
			height: var(--size-32);
			aspect-ratio: 1;
			fill: var(--white);
		}
	}
}

.dialog__select:hover {
	border-color: var(--grey-300);
	box-shadow: inset 0 0 0 1px var(--grey-300);
}
/* ------- */
.mp__footer {
	align-self: flex-end;
	margin-block-start: auto;
}
