/* DAHSBOARD MAIN CONTENT */
.app__main {
  grid-row: 2;
  grid-column: 2;
  overflow-x: hidden;
  height: calc(100dvh - (var(--gap-48) + var(--gap-16) * 2));
  position: relative;
  background-color: var(--white);
}

.container {
  width: min(100%, 1280px);
  min-height: 100%;
  position: relative;
  margin-inline: auto;
  padding-block-end: var(--gap-48);
}

/* MAIN SECTION LEFT/RIGHT PADDINGS */
.main__header,
.fm-filters,
.fm-tb__fm-header,
.fm-tb__fm-row {
  padding-inline: var(--gap-16);
}

.main__header {
  display: grid;
  row-gap: var(--gap-12);
}

.header__title {
  color: var(--grey-500);
  font-size: clamp(var(--font-32), 3vw, var(--font-48));
  font-weight: bold;
}

.header__description {
  max-width: 800px;
  padding-block-end: clamp(var(--font-32), 3vw, var(--font-48));
  font-size: clamp(var(--font-16), 1.25vw, var(--font-18));
}

.fm-filters {
  display: flex;
  gap: var(--gap-24);
  overflow-y: hidden;
  position: sticky;
  top: 0;
  padding-block: var(--gap-4) var(--gap-24);
  background-color: var(--white);
  z-index: 1;
}

.fm-filters__btn {
  aspect-ratio: 4 / 1;
  padding: var(--gap-12) var(--gap-18);
  border: 1.5px solid transparent;
  border-radius: 5rem;
  color: var(--grey-500);
  font-size: clamp(var(--font-14), 1.2vw, var(--font-18));
  font-weight: bold;
  white-space: nowrap;
  transition: all .3s ease-in-out;

  &:not(.btn-selected) {
    border-color: var(--grey-200);
  }
}

/* TABLE */
.fm-tb__fm-header,
.fm-tb__fm-row {
  display: grid;
  grid-template-columns: var(--size-24) var(--size-64) 1fr 12rem;
  column-gap: var(--gap-18);
  align-items: center;
}

.fm-header__checkbox,
.fm-row__checkbox  {
  display: flex;

  & input {
    width: var(--size-20);
    aspect-ratio: 1;
  }
}

.fm-tb__fm-header {
  position: sticky;
  top: var(--gap-72); /* height of filter el */
  z-index: 1;
  background-color: var(--white);
  border-bottom: 1.5px solid var(--grey-200);
  padding-block: var(--gap-18);
  & p {
    color: var(--grey-400);
    font-size: var(--font-14);
    font-weight: bold;
  }
}

/* TABLE BODY */
.fm-tb-body {
  padding-block-start: var(--gap-24);
}

/* table entire row style */
.fm-tb__fm-row {

  &:nth-of-type(even) {
    background-color: var(--grey-100);
  }

  &:hover,
  &:has(input:checked) {
    background-color: var(--grey-200);
  }

  &:has(input:checked) .fm-row__button{
    background-color: var(--grey-200);
    pointer-events: none;
    cursor: default;
  }
}

/* Using button because only input and button have popever API */
.fm-row__button {
  padding-block: var(--gap-16);
}

.fm-row__button {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  text-align: left;
}

.fm-row__type {
  min-width: var(--size-64);
  min-height: var(--size-32);
  display: grid;
  place-content: center;
  border-radius: var(--border-corner-8);
  color: var(--white);
  font-size: var(--font-14);
  font-weight: bold;
  text-transform: uppercase;
}

.fm-row__type[data-source="pdf"] {
  background-color: #FE6565;
}

.fm-row__type[data-source="audio"] {
  background-color: #2BD04D;
}

.fm-row__type[data-source="video"] {
  background-color: #657FFE;
}

.fm-row__type[data-source="image"] {
  background-color: #A52BD0;
}

.fm-row__name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fm-row__date {
  color: var(--grey-400);
}

/* BOTTOM ACTION BAR */
.fm-tb__action-bar {
  min-height: var(--size-80);
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-16);
  position: fixed;
  inset-block-end: 0;
  inset-inline: calc(360px + var(--gap-48)) 0;
  margin-inline: auto;
  border-top: 1px solid var(--grey-200);
  background-color: var(--white);
  translate: 0 100%;
  transition: translate .3s cubic-bezier(0, 0.7, 0.7, 1);
  /* Check animation in global css */
  animation: hide-from-DOM .3s ease-in-out forwards;
  z-index: 999;

  &.show {
    translate: 0 0;
    animation: none;
  }

  &.not-enable :where(.action-bar__edit, .action-bar__eiffels) {
    opacity: .3;
    pointer-events: none;
    user-select: none;
  }
}

/* MODAL DIALOG STYLE */
#fm-dialog {
  max-height: 100dvh;
  max-width: min(100vw, 1200px);
  margin-inline: auto;
  background-color: var(--grey-100);
  border: none;
  z-index: 100;
}

#fm-dialog::backdrop {
  background-color: hsla(219, 100%, 97%, 0.6);
  backdrop-filter: blur(5px);
}

/* Prevent to show all souces in open dialog window */
.hide-file {
  display: none;
  visibility: hidden;
}

.fm-dialog__wrapper {
  width: min(100vw, 1200px);
  height: 100dvh;
  display:grid;
  grid-template-rows: auto 1fr auto;
  padding-inline: var(--gap-16);

  & :where(iframe, video, img, audio) {
    margin: auto;
  }

  & iframe {
    width: 100%;
    height: 100%;
  }

  & video {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  & img {
    height: calc(100dvh - var(--gap-80) * 2);
    object-fit: contain;
    object-position: center;
  }

  & audio {
    width: 80%;
  }

}

.fm-dialog__header,
.fm-dialog__footer {
  column-gap: var(--gap-16);
  padding-block: var(--gap-12);

  & svg {
    width: var(--size-24);
    aspect-ratio: 1;
  }
}

.fm-dialog__header {
  display: grid;
  grid-template-columns: var(--size-36) 1fr var(--size-48);
  align-items: center;
  border-bottom: 1px solid var(--grey-200);

  & p {
    grid-column: 2;
    text-align: center;
  }
  & button {
    grid-column: 3;
  }
}

.fm-dialog__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--grey-200);
}

/* Disable hover style on the touch devices */
@media only screen and (hover: none) {
  .fm-tb__fm-row:hover {
    background-color: transparent;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .fm-tb__fm-header,
  .fm-tb__fm-row {
    grid-template-columns: var(--size-24) var(--size-64) 1fr;
  }

  .fm-header__date {
    display: none;
  }

  .fm-row__checkbox,
  .fm-row__type {
    grid-column: 1;
    grid-row: 1 / 2 span;
  }

  .fm-row__name {
    grid-column: 2;
    grid-row: 1;
    font-size: var(--font-16);
  }

  .fm-row__date {
    grid-column: 2;
    grid-row: 2;
    font-size: var(--font-14);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }

  .fm-tb__fm-header,
  .fm-tb__fm-row {
    grid-template-columns: var(--size-24) var(--size-48) 1fr;
    column-gap: var(--gap-12);
  }

  .fm-row__type {
    min-width: var(--size-48);
    font-size: 10px;
  }

  .user__name,
  .user__role {
    display: none;
  }

  .fm-tb__action-bar {
    inset-inline: 0;
  }
}
