@import url('./buttons-and-links.css');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* DEBUG */
/* * {
	outline: 1px solid red;
} */

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}

html {
	background-color: var(--white);
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

body {
	min-height: 100dvh;
	color: var(--black);
	position: relative;
}

body,
input,
textarea,
button,
select {
	font-family: 'SF Pro Text', sans-serif;
	-webkit-font-smoothing: antialiased; /* for MacOs */
}

/* GLOBAL MEDIA */
img,
picture,
svg,
video,
canvas {
	display: block;
	max-width: 100%;
}

img,
svg {
	user-select: none;
	-webkit-user-select: none;
}

/* GLOBAL TEXT */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: pretty;
	line-height: 1.2;
}

p,
strong {
	line-height: 1.4;
	/* text-wrap: balance; */
}

p,
input,
textarea {
	font-weight: 300;
}

p,
label,
li:not(:has(h1, h2, h3, h4, h5, h6)),
time {
	color: var(--grey-500);
	font-size: var(--font-18);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
	outline: 1.5px solid var(--black);
	outline-offset: 0.25rem;
}

/* ::placeholder {
  color: var(--grey-100);
} */

/* a:has(h1, h2, h3, h4, h5, h6, p),
a:active {
} */

ul {
	list-style-type: none;
}

strong {
	color: var(--grey-500);
}

blockquote {
	hanging-punctuation: first last;
}

.header__logo {
	max-width: 10rem;
	height: auto;
}

.title-gradient {
	width: fit-content;
	display: inline;
	color: transparent;
	font-size: var(--font-48);
	font-weight: bold;
	background-image: var(--gradient);
	background-clip: text;
}

body > footer {
	flex: 0 1 0;
	margin-inline: auto;
	padding-block: var(--gap-48) var(--gap-18);
	font-size: var(--font-14);
}

/* Hide navigation from DOM to prevent selection by keyboard after collapsing */
@keyframes hide-from-DOM {
	90% {
		visibility: visible;
	}

	100% {
		visibility: hidden;
	}
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
}

@media (max-width: 959px) {
	:root {
		--body-padding: 1rem;
	}
}

@media (max-width: 559px) {
}

/* GLASS EFFECT FOR ELEMENTS */
.glass-effect {
	background: linear-gradient(45deg, hsl(from var(--primary) h s l / 3%) 0%, hsl(from var(--white) h s l / 10%) 60%);
	backdrop-filter: blur(15px);
	box-shadow: 0 30px 50px hsl(from var(--primary) h s l / 7%);

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: var(--border-corner-12);
		/* Create var from parent */

		border: 1.5px solid transparent;

		background: linear-gradient(
			160deg,
			hsl(from var(--primary) h s l / 20%) 0%,
			hsl(from var(--primary) h s l / 5%) 15%,
			hsl(from #fff h s l / 100%) 25%,
			hsl(from #fff h s l / 100%) 75%,
			hsl(from var(--primary) h s l / 15%) 100%
		);
		background-origin: border-box;
		/* This code defines a mask for an element using two gradients and different clipping areas:

    mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    Uses two linear gradients as masks.

    mask-clip: padding-box, border-box;
    The first gradient is applied to the padding-box area,
    and the second to the border-box area.

    mask-composite: exclude;
    Sets the compositing mode to exclude,
    which subtracts the overlapping areas of the masks. This creates a mask that makes only the area between the padding-box and border-box visible.
    */
		mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
		mask-clip: padding-box, border-box;
		mask-composite: exclude;

		z-index: -1;
	}
}

/* GLASS EFFECT FOR INPUTS */
.glass-input {
	background: linear-gradient(
			45deg,
			hsl(from var(--primary) h s l / 5%) 0%,
			hsl(from var(--white) h s l / 10%) 60%,
			hsl(from var(--primary) h s l / 3%) 100%
		)
		padding-box;
	box-shadow: 0 30px 50px hsl(from var(--primary) h s l / 5%), 2px 2px 0 0 hsl(from #fff h s l / 25%);
	border: 1.5px solid #fff;

	&::after {
		content: '';
		position: absolute;
		inset: var(--inset-val);
		border-radius: var(--br);
		border: 1.5px solid transparent;
		background: linear-gradient(
				175deg,
				hsl(from var(--primary) h s l / 35%) 0%,
				hsl(from var(--primary) h s l / 0%) 45%,
				hsl(from #fff h s l / 20%) 100%
			)
			border-box;
		/* background-image: conic-gradient(
			from 0deg at 50% 50%,
			hsl(from #fff h s l / 86%) 86deg,
			hsl(from var(--primary) h s l / 20%) 88deg,
			hsl(from #fff h s l / 85%) 91deg,
			hsl(from #fff h s l / 85%) 267deg,
			hsl(from var(--primary) h s l / 20%) 271deg,
			hsl(from #fff h s l / 65%) 275deg
		);*/

		mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
		mask-composite: exclude;

		z-index: -1;
	}
}

.error-message {
	width: min(100%, 600px);
	display: none;
	column-gap: var(--gap-12);
	align-items: center;
	padding: var(--gap-12);
	margin-block-end: var(--gap-24);
	background-color: var(--surface);
	border-left: 5px solid var(--warning-error);
	border-top-right-radius: var(--border-corner-8);
	border-bottom-right-radius: var(--border-corner-8);
	box-shadow: 0 30px 50px hsl(from var(--primary) h s l / 5%);

	& strong {
		color: var(--warning-error);
		font-size: var(--font-14);
	}

	& .icon {
		flex: 1 0 auto;
		width: var(--size-36);
		height: var(--size-36);
		aspect-ratio: 1;

		& use {
			fill: var(--warning-error);
		}
	}
}

.error-message.show {
	display: flex;
}
